@model IEnumerable<aspnetmvc.Models.Book>

<table width="100%" cellpadding="5pt">
    <tr style="background-color:navy;color:white">
        <th>
            Title
        </th>
        <th>
            Author(s)
        </th>
        <th>
           Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td style="text-align:center">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
               |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },
              new { onclick = "return confirm('Do you want to delete book??')" })
        </td>
    </tr>
}

</table>
